main {
    font-family: monospace;
}

.retour {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-align: left;
}

.retour-a {
    color: var(--color-h1h2);
    font-size: 2rem;
    font-weight: bold;
}

.update-article {
    color: var(--color-h1h2);
    padding-top: 150px;
    text-align: center;
    letter-spacing: 0.1em;
}

.form-update-article {
    margin-top: 100px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.image {
    border-right: var(--border-article-create);
    border-left: var(--border-article-create);
    color: var(--color-presentation-paragraphs);
    border: var(--border-presentation);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 6px 12px;
    font-size: 1.5rem;
    background-color: var(--backgroundcolor-download-img);
}

.label {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-presentation-paragraphs);
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    background-color: var(--backgroundcolor-download-img);
}

.form-infos {
    border-right: var(--border-article-create);
    border-bottom: var(--border-article-create);
    border-left: var(--border-article-create);
    padding: 50px;
}

.create-first {
    padding-top: 50px;
}

.create-first,
.create {
    padding-bottom: 20px;
}

#nom,
#prix,
#quantité {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    outline: none;
    height: 50px;
    border: 1px solid #000;
    font-size: 1.5rem;
    background-color: var(--background-input);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

textarea {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    outline: none;
    resize: none;
    height: 500px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 20px;
    border: 1px solid #000;
    text-align: justify;
    font-size: 1.5rem;
    background-color: var(--background-input);
}

.submit {
    margin-top: 50px;
    text-align: center;
}

button[type="submit"] {
    padding: 10px 50px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bi-send-plus {
    font-size: 2rem;
    color: var(--color-delivery);
}

/* RESPONSIVE */

@media screen and (max-width: 650px) {
    .form-update-article {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .form-infos {
        padding: 10px;
    }
}