/* LUNCHBOX */

.slot {
    position: relative;
    /* Profondeur sur le parent */
    perspective: 1000px;
}

/* Enfants -> div du slot */
.slot div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* On sait jamais, user-select none permettra de pas selectionner les emojis */
    user-select: none;
}

.lunchbox-div,
.items-div {
    text-align: center;
}

.lunchbox {
    cursor: pointer;
    margin: 0 auto;
    width: 6em;
    font-size: 30px;
    animation: LunchBox 2s ease 0s infinite normal forwards;
}

.img-items {
    width: 100px;
}

.items-div {
    display: none;
}

@keyframes LunchBox {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}

/* AVATAR */

.img-avatar {
    width: 5em;
}
