main {
    font-family: monospace;  
    padding-bottom: 100px;
    padding-top: 100px;
}

.update-avatar, h1 {
    color: var(--color-h1h2);
    padding-top: 15px;
    text-align: center;
    letter-spacing: 0.1em;
}


.form-update-confrerie {
    margin-top: 100px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.confrerie {
    flex-wrap: wrap;
    padding: 50px;
    border: solid #e2d447;
    background-color: var(--color-presentation);
    border: var(--border-article-create);
    margin-bottom: 50px;
    border-radius: 10px;
}

.img-confreries {
    width: 15em;
    border-radius: 10px;
    background-color: #486e9d;
    padding: 10px;
    background-color: var(--color-presentation);
   
}

p{
    color: var(--color-h1h2);
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 30px;
}



.btn {
    background-color: var(--color-presentation);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #e2d447;
    font-size: 27px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: solid #e2d447;
    border: var(--border-article-create);
    cursor: pointer;   
    
  }
  
  .btn:hover {
    background: var(--button-avatar);
    text-decoration: none;
    
  }

  label {
    color: var(--color-h1h2);
    font-size: 20px;
  }



  /* responsive */


  @media screen and (max-width: 400px) {

    .form-update-confrerie {
        width: 95%;
    }

    .img-confreries{
        width: 12em;
    }
  }