main {
    font-family: monospace;
    padding-bottom: 100px;
    padding-top: 100px;
}

.retour {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-align: left;
}

.retour-a {
    color: var(--color-h1h2);
    font-size: 2rem;
    font-weight: bold;
}


.update-avatar, h3 {
    color: var(--color-h1h2);
    padding-top: 15px;
    text-align: center;
    letter-spacing: 0.1em;
}

.form-update-avatar {
    margin-top: 100px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.image {
    border: solid #486e9d;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: var(--backgroundcolor-download-img);
    margin-bottom: 15px;
    margin-top: 50px;
    background-color: var(--color-presentation);
    border: var(--border-article-create);
}



.avatar-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}

.img-avatar {
    width: 10.5em;
    border: solid #e2d447;
    border-radius: 10px;
    background-color: #486e9d;
    padding: 10px;
    background-color: var(--color-presentation);
    border: var(--border-article-create);
}
 h3{
    color: #e2d447;
 }

 .radio{
    text-align: center;
    padding-bottom: 20px;
 }



  .validate {
    margin-top: 50px;
    text-align: center;
}



 /* TEST btn */



 .btn {
    background-color: var(--color-presentation);
    border-radius: 28px;
    font-family: Courier New;
    color: #e2d447;
    font-size: 27px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: solid #e2d447;
    border: var(--border-article-create);
    cursor: pointer;   
    
  }
  
  .btn:hover {
    background: var(--button-avatar);
    text-decoration: none;
    
  }



  /* responsive */

  @media screen and (max-width: 500px) {

    .form-update-avatar {
        width: 95%;
    }
  }

