main {
    background-color: var(--color-main);
    padding-top: 80px;
    padding-bottom: 50px;
}

h1,
h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.2em;
    color: var(--color-h1h2);
    text-align: center;
    font-size: 35px;
}

h2 {
    margin-bottom: 50px;
}

.vault-tec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.img-vaulttec {
    width: 500px;
    animation: Vault-Tec 1s ease 0s 1 normal forwards;
}

/* PRESENTATION */

.presentation {
    background-color: var(--color-presentation);
    border: var(--border-presentation);
    border-radius: 97% 3% 97% 3% / 3% 97% 3% 97%;
    width: 80%;
    margin: auto;
    padding: 50px;
    font-family: monospace;
}

.Vault-Tec-titre,
.special-titre-section {
    color: var(--color-titre-vaulttec);
    font-size: 25px;
    padding: 15px;
    letter-spacing: 0.1em;
}

.presentation-p {
    padding: 35px;
    color: var(--color-presentation-paragraphs);
    font-size: 20px;
}

.p-vaulttec {
    padding: 5px;
}

ul {
    padding: 20px;
}

.li-vaulttec {
    list-style-type: none;
}

.buttons {
    text-align: center;
}

.button-insc,
.button-co {
    margin: 15px;
    padding: 20px 100px;
    border-radius: 10px;
    border: var(--border-button-home);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.2em;
    background-color: var(--color-background-button-home);
    color: #363437;
}

.span {
    color: var(--color-span-home);
    font-weight: bold;
}

/* GALLERIE */

#gallery {
    margin: auto;
    text-align: center;
    padding: 50px;
    width: 95%;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.special-titre-section {
    margin-top: 100px;
    font-family: monospace;
    text-align: center;
    background-color: var(--color-presentation);
    padding: 20px;
    border-top: var(--color-border-top-special);
    border-bottom: var(--color-border-bottom-special);
}

.span-typewritter {
    animation: blinker 1s linear infinite;
}

.special-div,
.special-titre {
    padding: 20px;
    font-family: monospace;
}

.special-div:hover {
    cursor: pointer;
    animation: pulse;
    animation-duration: 2s;
}

.special-titre {
    color: var(--color-presentation-paragraphs);
    background-color: var(--color-presentation);
    letter-spacing: 0.2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.special-image-div {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.special-image {
    width: 400px;
}

.special-img {
    width: 200px;
    border: var(--border-img-special);
}

.special-p {
    width: 50%;
    padding: 50px;
    margin: auto;
    text-align: justify;
    font-family: monospace;
    font-size: 20px;
    color: var(--color-presentation-paragraphs);
    background-color: var(--color-presentation);
    border: var(--border-presentation);
}

/* KEYFRAMES */

@keyframes Vault-Tec {
    0% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
    }

    100% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
    .presentation {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .special-p {
        width: 90%;
    }

    .img-vaulttec {
        width: 300px;
    }

    .presentation-p,
    .p-vaulttec {
        padding: 0;
        padding-top: 20px;
    }

    .buttons {
        padding-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .presentation,
    .special-p {
        width: 100%;
        margin: 0;
    }

    .img-vaulttec {
        width: 300px;
    }

    ul {
        padding: 0;
        padding-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-co,
    .button-insc {
        padding: 10px;
    }

    .img-vaulttec,
    .special-image {
        width: 100%;
    }

    .presentation,
    .special-p,
    #gallery {
        margin: 0;
        padding: 5px;
        width: 100%;
    }
}
