footer {
    background-color: var(--color-footer);
    color: var(--color-footer-paragraphs);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}

.footer {
    padding: 20px;
}

/* Divider Header */

.custom-shape-divider-top-1654680663 .shape-fill {
    fill: var(--color-divider-footer);
}
