footer {
    background-color: #e2da47;
    color: #363437;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}

.footer {
    padding: 20px;
}

/* Divider Header */

.custom-shape-divider-top-1654680663 .shape-fill {
    fill: #ffffff;
}
