body {
    background-color: #ffffff;
}

header {
    background-color: #486e9d;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
}

.bloc-logo {
    padding-top: 20px;
    width: auto;
    text-align: center;
    padding-bottom: 50px;
}

.bigger-logo {
    width: 200px;
}

.bloc-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    letter-spacing: 0.2em;
    margin: auto;
    padding: 20px;
}

.linky {
    padding: 10px;
    color: #363437;
}

/* Bouton Burger non visible en grand écran */

.button-burger {
    display: none;
}

/* Divider Header */

.custom-shape-divider-top-1654685571 .shape-fill {
    fill: #486e9d;
}

/* Menu Burger */

@media screen and (max-width: 767px) {
    header {
        padding: 20px;
    }

    .button-burger {
        display: flex;
    }

    .burger {
        width: 3em;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bloc-links {
        display: none;
    }

    .show-list {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .bloc-logo {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .lien-header {
        letter-spacing: 0;
    }
}

@media screen and (max-width: 290px) {
    .lien-header {
        font-weight: bold;
        font-size: 10px;
    }
}
